body {
	overflow-x: hidden
}

hr {
    border-top-color: black;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: black;
	color: white;
	font-size: 250%;
	padding: 1% 2% 1% 2%;
	z-index: 1;

	-webkit-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
}

#news {
	text-align: center;
}

#email {
	font-size: 100%;
	left: 50%;
	padding: 3px;
	margin: 0;
	border: none;
	width: 15vw;
	border-color: black;
	border-width: 1px;
	border-right-style: none;
	background-color: rgb(230,230,230);
}

#submit {
	font-size: 100%;
	cursor: pointer;
	border-style: solid;
	background-color: black;
	color: white;
	padding: 2px;
	border-width: 1px;
	border-color: white;
	padding-left: 4px;
	padding-right: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.center-img {
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#header a {
	color: inherit;
	text-decoration: inherit
}

.link-span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

#header-desc {
	font-size: 50%;
	padding-left: 1%;
	position: relative;
	top: 5px
}

.article {
	width: 800px;
	height: 250px;
	transform: translateX(-50%);
	position: relative;
	left: 50%;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 20px;

	background-color: rgb(240, 240, 240);

}

.article img {
	width: 250px;
	height: 250px;
}

.list {
	width: 150px;
	height: 150px;
}

.column {
	margin-top: 10%;
	border-radius: 5px;
	max-width: 800px;
	transform: translateX(-50%);
	position: relative;
	left: 50%;
	font-size: 150%;
	margin-bottom: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

.column-title {
	font-size: 200%;
	text-align: center;
	margin-bottom: 0
}

.written {
	color: rgb(100, 100, 100);
	text-align: center;
}

.edited {
	color: rgb(100, 100, 100);
	text-align: center;
}

.start {
	margin-bottom: 2.5em;
}

.carousel {
	margin: auto;
}

.code {
	overflow: auto;
	background-color: rgb(240, 240, 240);
	border-style: solid;
	border-color: rgb(200, 200, 200);
	white-space: pre;
	border-radius: 5px;
	border-width: 1px;
	font-size: 95%;
	padding-right: 3px;
	padding-left: 3px;
}

.most-recent {
	margin-bottom: 7px;
	font-style: italic;
	position: relative;
	transform: translateX(-50%);
	width: 800px;
	left: 50%;
	font-size: 150%;
}

.page-title {
	margin-top: 8%;
	margin-bottom: 2%;
	font-size: 300%;
	text-align: center;
}

.article-title {
	position: absolute;
	color: black;
	top: 0;
	margin: 60px;
	left: 250px;
	font-size: 200%;
}

.article-count {
	position: absolute;
	font-style: italic;
	font-size: 80%;
	margin-top: 50px;
}

#mce-EMAIL {
	font-size: 150%;
}

#mc_embed_signup {
	font-size: 150%;
}

#nav {
	display: none;
}
@media only screen and (max-width: 800px) {
	#header {
		font-size: 200%;
		padding: 3% 2% 3% 2%;
	}
	.page-title {
		margin-top: 20%;
		font-size: 200%;
	}
	.article {
		width: 90%;
		height: 115px;
		margin-bottom: 10px;
	}
	.article img {
		width: 115px;
		height: 115px;
	}
	.article-title {
		top: 0;
		margin: 10px;
		left: 115px;
		font-size: 125%;	
	}
	.article-count {
		position: absolute;
		font-style: italic;
		font-size: 80%;
		margin-top: 10px;
	}
	.most-recent {
		width: 95%;
		padding-left: 5%;
		font-size: 100%;
	}
	.video {
		max-width: 100%;
	}
	.column-title {
		font-size: 150%;
		margin-top: 20%;
	}
	#nav {
		text-align: center;
		display: table;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: black;
		color: white;
	}
	#nav-back {
		padding: 0;
		width: 50%;
		font-size: 130%;
	}
	.nav-arrow {
		font-size: 300%;
		background-color: rgb(10, 10, 10);
	}
	#nav-right {
		border-left: 1px solid #777
	}
	#nav-left {
		border-right: 1px solid #777
	}
	td a, td a:visited, td a:hover {
		display: block;
		width: 100%;
		text-decoration: none;
		color: white
	}
}
