---
layout: wrapper
---

<div class="page-title">Projects</div>
<div class="article">
	<a href="./hackcmu/scotty-io-a-hack-cmu-project"><span class="link-span"></span></a>
	<span><img width="250px" height="250px" src="./pics/thumb7.jpeg" alt="CSS code"></span>
	<span class="article-title">Scotty.io: A Hack CMU Project</span>
</div>

<div class="article">
	<a href="./reactive.html"><span class="link-span"></span></a>
	<span><img width="250px" height="250px" src="./pics/thumb6.jpeg" alt="CSS code"></span>
	<span class="article-title">Reactive Bluetooth Lighting</span>
</div>

<div class="article">
	<a href="./longboard.html"><span class="link-span"></span></a>
	<span><img width="250px" height="250px" src="./pics/thumb1.png" alt="Electric longboard with lights"></span>
	<span class="article-title">Creating an Electric Longboard</span>
</div>

<div class="article">
	<a href="./website.html"><span class="link-span"></span></a>
	<span><img width="250px" height="250px" src="./pics/thumb0.jpeg" alt="CSS code"></span>
	<span class="article-title">Creating This Website</span>
</div>

