---
layout: wrapper
---

<div class="page-title">Projects</div>

<!--{% include article.html pic="./pics/thumb21.png" alt="A shortened URL" href="./carrots/camera-scale-collecting-the-data.html" title="Camera Scale: Collecting the Data" category="carrots" %}-->

{% include article.html pic="./pics/thumb30.png" alt="Extexify" href="./extexify/symbol-recognition-in-overleaf-the-frontend-and-a-simple-backend.html" title="Symbol Recognition in Overleaf" category="extexify" %}

{% include article.html pic="./pics/thumb27.png" alt="AdaIN" href="./adain.html" title="Real-Time Style Transfer for the OpenCV AI Kit" category="adain" %}

 <!--{% include article.html pic="./pics/thumb25.png" alt="The Lichess logo" href="./puzzles.html" title="Predicting Puzzle Ratings" category="puzzles" %}-->

{% include article.html pic="./pics/thumb17.jpeg" alt="A shortened URL" href="./urlmem.html" title="UrlMem: Shortened URLs Made Memorable" category="urlmem" %}

{% include article.html pic="./pics/thumb6.jpeg" alt="A graph" href="./reactive.html" title="Reactive Bluetooth Lighting" category="reactive" %}

{% include article.html pic="./pics/thumb1.png" alt="Electric longboard with lights" href="./longboard.html" title="Creating an Electric Longboard" category="longboard" %}

{% include article.html pic="./pics/thumb13.jpeg" alt="AntiProjects logo" href="./website.html" title="Creating This Website" category="website" %}

{% include article.html pic="./pics/thumb23.png" alt="SIO" href="./ispoketomyadvisor/ispoketomyadvisor-making-registration-that-much-easier.html" title="ISpokeToMyAdvisor: Making Registration That Much Easier" category="ispoketomyadvisor" %}

{% include article.html pic="./pics/thumb7.jpeg" alt="Scotty.io gameplay" href="./hackcmu/scotty-io-a-hack-cmu-project.html" title="Scotty.io: A Hack CMU Project" category="hackcmu" %}

