---
layout: wrapper
---

<div class="article">
	<a href="./longboard.html"><span class="link-span"></span></a>
	<span><img width="250px" height="250px" src="./pics/thumb1.png" alt="Electric longboard with lights"></span>
	<span class="article-title">Creating an Electric Longboard</span>
</div>
<div class="article">
	<a href="./website.html"><span class="link-span"></span></a>
	<span><img width="250px" height="250px" src="./pics/thumb0.jpeg" alt="CSS code"></span>
	<span class="article-title">Creating This Website</span>
</div>
