<!DOCTYPE html>

<head>
        <title>Antiprojects</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"</meta>
        <link rel="icon" type="image/png" href="../pics/icon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/5f4bca6e58.js"></script>
	<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	</style>
	<link rel="stylesheet" type="text/css" href="../styles.1.2.1.css">
	<script src="../script.js"></script>
</head>
<body>
	<div id="wrapper">
		{% include header.html %}
		{{ content }}
		{% include footer.html %}
	</div>
</body>

